
nav {

    background-color: rgb(65, 67, 82);
    padding: 1rem;
    

}

nav > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 1rem;
    justify-content: center;
}

  nav > ul a {
    display: block;
    color: rgb(254, 254, 254);
    padding: 1rem;
    font-size: small;
    text-decoration: none;
    border: solid 1px white;
    border-radius: 1px;
    border-color: rgb(140, 141, 144);
    transition: all ease 150ms;
    width: 60px;
    height: 5px;
    text-align: center;
    align-content: center;
    font-size: small;
  }

  ul li a:hover {
    background-color: rgb(85, 89, 104);
  }



.Hero {
    display: flex;
    color: white;
    display: flex;
    justify-content: center;
    background-size: cover;
    padding: 150px;
    background-image: url(/layout-01-assets/img11.jpg);
    background-repeat: no-repeat;
    flex-direction: column;
    background-position: center;
    
}

h1 {
  align-self: center;
  text-shadow: 2px 2px 1px black;
}

.Hero p {
  margin-top: -20px;
  color: rgb(255, 255, 255);
  align-self: center;
}


.Intro {
    display: flex;
}