
nav {

    background-color: rgb(65, 67, 82);
    padding: 1rem;
    

}

nav > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 1rem;
    justify-content: center;
}

  nav > ul a {
    display: flex;
    color: rgb(254, 254, 254);
    padding: 1rem;
    font-size: small;
    text-decoration: none;
    border: solid 1px white;
    border-radius: 1px;
    border-color: rgba(140, 141, 144, 0.404);
    transition: all ease 150ms;
    width: 60px;
    height: 5px;
    font-size: small;
    align-items: center;
    justify-content: center;
  }



  ul li a:hover {
    background-color: rgb(85, 89, 104);
  }



.Hero {
    display: flex;
    color: white;
    display: flex;
    justify-content: center;
    background-size: cover;
    padding: 200px;
    background-image: url(/layout-01-assets/img11.jpg);
    background-repeat: no-repeat;
    flex-direction: column;
    background-position: top;
}

h1 {
  font-size: 50px;
  align-self: center;
  text-shadow: 2px 2px 1px black;
}

.Hero p {
  margin-top: -40px;
  color: rgb(255, 255, 255);
  align-self: center;
}


.Intro {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#Headline1 h4 {
  color: rgb(11, 146, 11);
}

h4 {
  font-size: large;
}



#Headline1, #Headline2, #Headline3 {
  height: 600px;
}

#Headline4, #Headline5 {
  height: 700px;
}

#Headline1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 229, 229);
  grid-column: 2 / 4;
}

#Headline1 h4, #Headline2 h4, #Headline3 h4, #Headline4 h3, #Headline5 h3, #Headline1 p, #Headline2 p, #Headline3 p, #Headline4 p, #Headline5 p {
  padding-left: 20px;
  padding-right: 20px;
}



#Headline1 p, #Headline2 p, #Headline3 p, #Headline4 p, #Headline5 p {
  font-size: smaller;
}

#Headline1 a {
  background-color: rgb(11, 146, 11);
  color: rgb(240, 255, 255);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  width: 125px;
  text-align: center;
}

.GreenButton {
  align-self: center;
  margin-top: 100px;
}





#Headline2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231, 0.71);
  grid-column: 4 / 6;
}

.SeeDetails {
  align-self: center;
  margin-top: 100px;
}

#Headline2 a {
  background-color: rgb(93, 154, 185);
  color: rgb(240, 255, 255);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  width: 125px;
  text-align: center;
}

#Headline3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231, 0.71);
  grid-column: 6 / 8;

}

#Headline3 a {
  background-color: rgb(93, 154, 185);
  color: rgb(240, 255, 255);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  width: 125px;
  text-align: center;
}

.RedButton {
  align-self: center;
  margin-top: 100px;
}

#Headline4 {
  display: flex;
  flex-direction: column;
  background-color: rgba(231, 231, 231, 0.71);
  grid-column: 2 / 5;
}

#Headline4 h3 {
  align-self: center;
}

#Headline5 {
  display: flex;
  flex-direction: column;
  background-color: rgba(231, 231, 231, 0.71);
  grid-column: 5 / 8;
}

#Headline5 h3 {
  align-self: center;
}

#Headline5 a {
  text-decoration: none;
  color: rgb(116, 115, 115);
}

#Headline5Button {
  color: rgba(139, 137, 137, 0.997);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(26, 20, 20, 0.245);
  align-self: flex-end;
  margin-right: 100px;

}

#Headline1 img, #Headline2 img, #Headline3 img, #Headline4 img, #Headline5 img {
  width:100%;
}

.Services {
  display: flex;
  background-image: url(/layout-01-assets/img13.jpg);
  padding: 100px;
  display: flex;
  color: white;
  justify-content: center;
  background-size: cover;
  padding: 200px;
  background-repeat: no-repeat;
  flex-direction: column;
  
}

.Services h2 {
  align-self: center;
  margin-top: -60px;
  text-shadow: 1px 1px 1px black;
  font-size: xx-large;
}

 .Services p {
  align-self: center;
  padding-left: 700px;
  padding-right: 700px;
  font-size: large;
  text-align: center;
}

.Section2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.Column1, .Column2, .Column3, .Column4 {
  background-color: rgb(231, 231, 231, 0.71);
  height: 600px;
}

.Column1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231, 0.71);
  grid-column: 3 / 3;

}

.Column2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231, 0.71);
  grid-column: 4 / 4;
}

.Column3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231, 0.71);
  grid-column: 5 / 5;

}

.Column4 {
  Display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231, 0.71);
  grid-column: 6 / 6;

}

.OneBigColumn {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231, 0.71);
  grid-column: 3 / 7;
  background-color: rgb(231, 231, 231, 0.71);
  height: 1000px;
}

.Column1 img, .Column2 img, .Column3 img, .Column4 img {
  height: 50%;
  
}

.OneBigColumn img {
  height: 55%;
}

.Column1 img, .Column2 img, .Column3 img, .Column4 img, .OneBigColumn img {
  width: 100%;
}

.Column1 p, .Column2 p, .Column3 p, .Column4 p, .OneBigColumn p {
  display: flex;
  color: rgb(21, 21, 21);
  margin-left: 20px;
  margin-right: 20px; 
  font-size: smaller;

}

.Column1 h3, .Column2 h3, .Column3 h3, .Column4 h3 {
  text-align: center;
}

.OneBigColumn h3 {
  padding-left: 20px;
}

.Column2 a, .Column4 a, .OneBigColumn a {
  display: flex;
  text-decoration: none;
  color: rgba(139, 137, 137, 0.997);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(26, 20, 20, 0.245);
  align-items: center
}

.OneBigColumn p {
  padding-bottom: 20px;
}


#Column2Button {
  align-self: center;
}

#Column4Button {
  align-self: center;
}

#OneBigColumnButton {
  align-self: flex-end;
  margin-right: 100px;
}

.Contact {
  display: flex;
  margin-top: 100px;
  background-image: url(/layout-01-assets/img14.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  flex-direction: column;
  text-align: center;
  align-content: center;
  gap: 100px;
}

.Contact header {
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 1px black;
}

#Name, #Email, #Subject, #YourMessage {
  background-color: rgba(255, 255, 255, 0.247);
  padding: 10px;
  border-radius: 10px;
}

#ContactP {
  background-color: rgba(255, 255, 255, 0.251);
  width: fit-content;
  align-self: center;
  padding: 10px;
  margin-right: 550px;
  margin-left: 550px;
  border-radius: 10px;
}

.Contact a {
  text-decoration: none;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.Footer {
  display: flex;
  align-content: center;
  text-align: center;
  flex-direction: column;
}